import cv2
import numpy as np
import joblib
import mediapipe as mp
import time
import threading
from collections import Counter
import tkinter as tk
from PIL import Image, ImageTk
import subprocess
import pydirectinput
